{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Welcome to Evinly's! I'm You, the passionate mind
          behind this digital space. With a heart for intrest, I
          created this platform to share insights, experiences, and
          discoveries with you. As a Passion, I delve into the
          realms of specific topics or themes to inspire and connect with
          like-minded individuals. Join me on this journey of exploration and
          growth as we navigate the intricacies of your niche. Together, let's
          foster a community that celebrates curiosity, learning, and the joy of
          your niche. Thank you for being a part of this exciting
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
